<div class="mt-4">
  <h2 style="text-align: center;">ANNOUNCEMENT</h2>
  <div class="wrapper">
    <div class="create-button"><a href="#"><button
          type="button"
          class="btn btn-info"
          data-toggle="modal"
          data-target="#create-annouce"
        >Create</button></a></div>
    <br />

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Announcement</th>
          <th scope="col">Description</th>
          <th scope="col">Time</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each announcements}}
          <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td>{{this.createdAt}}</td>
            <td>
              <button type="button" class="btn btn-link">Edit</button>
              <button type="button" class="btn btn-link">Delete</button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

{{! CREATE ANNOUNCE }}
<div
  class="modal fade"
  id="create-annouce"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Announcement</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/announce/store">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" />
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <input
              type="text"
              class="form-control"
              id="description"
              name="description"
            />
            
          </div>
          <button type="submit" class="btn btn-primary">Create</button>
        </form>
      </div>
      
    </div>
  </div>
</div>