<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"><h1><span
        class="badge badge-secondary"
      >TechEdu</span></h1></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="container">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

      </ul>

      <ul class="navbar-nav ml-auto profile-dropdown">
        {{! home }}
        <li class="nav-item dropdown active navbar-item">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
          >
            Home
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/home">Card</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/home/list">List</a>
          </div>
        </li>
        {{! announcement }}
        <li class="nav-item active navbar-item">
          <a class="nav-link" href="/announce">Announcement</a>
        </li>
        {{! mark }}
        <li class="nav-item active navbar-item">
          <a class="nav-link" href="/mark">Marks</a>
        </li>
        {{! subject }}
        <li class="nav-item active navbar-item">
          <a class="nav-link" href="/subject">Subject</a>
        </li>
        {{! actor: teacher/student }}
        <li class="nav-item active dropdown navbar-item">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
          >
            People
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/student">Student</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/teacher">Teacher</a>
          </div>
        </li>
        {{! account }}
        <li class="nav-item active navbar-item">
          <a class="nav-link" href="/account">Account</a>
        </li>
        {{! profile }}
        <li class="nav-item active dropdown">
          <a
            class="nav-link dropdown-toggle profile-dropdown"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Profile
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/profile">My Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Log out</a>
          </div>
        </li>

      </ul>

    </div></div>
</nav>